<div class="you">
  <h2><%= params[:question] %></h1>
  <h4> -You</h4>
</div>

<div class="coach">
  <h2><%= @reply %></h1>
  <h4> -Your coach</h4>
</div>

<div class="link">
  <%= link_to "Ask another question", ask_path %>
</div>
